$brand-1: #083330;
$brand-2: #025A53;

$gray-1: #101517;
$gray-2: #272929;
$gray-3: #404547;
$gray-4: #666666;
$gray-5: #AAAAAA;
$gray-6: #CCCDCC;
$gray-7: #EEEEEE;

$yellow:  #FFE763;
$amber:   #EDA168;
$pink:    #eca2c7;
$purple:  #7f42d4;
$blue:    #6AA7BF;
$red:     #ED6E68;
